html {
  background: transparent radial-gradient(circle farthest-corner at right bottom , #FFA376, #D26578 32%, #682A84 69%, #241668) repeat scroll left top / 100% 100%;
color: rgb(255, 255, 255);
  }
  
  body {
  font-family: "Raleway";
  margin: 0px;
}

.container {
  max-width: 760px;
  margin: 0px auto;
  background:rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%;
  padding: 5px 55px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.container .navbar {
  margin: 30px 0px 0px;
}

.container .navbar a {
  padding: 10px 15px;
  display:inline-block;
  color: rgb(255, 255, 255);
  font-family: "Raleway";
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
}

.container .navbar a:first-child {
  padding-left: 0;
}

.container .navbar .hire_me {
  text-align: right;
  float: right;
  color: white;
  font-weight: 700;
}

.container .intro h1 {
  font-family: "Raleway";
  font-weight:900;
  font-size: 3em;
  margin-bottom: 10px;
}

.container .intro h2 {
  font-family: "Raleway";
  font-size: 2em;
  font-weight: 300;
  margin-top: 0px;
  color: #CCC;
}

.container .intro h3 {
  display:inline-block;
}

.container .intro h3 a {
  text-decoration: none;
  color: inherit;
}

.container .intro .twitter-follow-button {
  display:inline-block;
  position: absolute !important;
  visibility: visible;
  margin-top: 21px;
  margin-left: 5px;
}

.container #mc_embed_signup input {
  background: #EBEDF0 none repeat scroll 0% 0%;
  color: #17191A;
  padding: 15px;
  margin-bottom: 5px;
  display: inline-block;
  border: none;
  margin-right: 5px;
}

.container #mc_embed_signup #mce-EMAIL{
  width: 400px;
  float: left;
}

.container #mc_embed_signup #mc-embedded-subscribe {
  background: #18BEE5;
  color: #fff;
  padding-bottom: 14px;
  cursor: pointer;
}

.container .blog {
  margin-top: 25px;
  font-family: "Raleway";
}

.container .archives {
  font-family: "Open Sans";
  padding: 0px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.container .archives h1{
  font-weight: 100;
  display: inline-block;
  margin-bottom: 0;
  font-size: 25px;
}

.container .archives h1 a {
  text-decoration: none;
  color: inherit;
}

.container .archives p {
  font-weight: 100;
  font-size: 18px;
}

.container .page p {
  font-family: "Raleway";
}
.container article {
  line-height: 1.6;
  font-size: 20px;
}
.container article p {
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  font-family: "Open Sans"
}

.container article blockquote {
  margin-left: -50px;
  border-left: 15px solid #fff;
  padding-left: 25px;
  font-weight: 300;
}

.container article blockquote p {
}

.container article hr {
  border:1px solid #F3BC15;
height: 2px;
width: 15%;
box-shadow: 0px -2px 0px #F3BC15 inset;
}

.container article a {
color: #FFF;
text-decoration: none;
padding-bottom: 0.15em;
transition: all 0.2s ease 0s;
border-bottom: 1px solid #fff;
}

.container article img {
}

.footer {
  font-size: 12px;
  text-align: center;
  padding: 50px;
  }
}

.footer a {
  color: inherit;
}

.ads {
color: #555;
font-size: 10px;
}

.contact {
  font-size: 25px;
text-decoration: none;
color: black;
border: 1px solid #000 !important;
box-shadow: none !important;
padding: 15px;
padding-bottom: 15px !important;
text-align: center;
display: block;
transition: all 0.3s;
}

.contact:hover {
      background: rgba(0,0,0,0.1);
      transition: all 0.3s;
}

.twitter-tweet {
    margin: 0 auto;
}

#chrome-btn {
  padding: 25px;
  background: #F3BC15 none repeat scroll 0% 0%;
  color: #FFF;
  font-weight: 700;
  border-radius: 2px;
  text-align: center;
  margin: 0px auto;
  display: block;
  cursor: pointer;
}

@media (max-width:900px) {

    .container {
    padding: 0px 15px;
    }

    .container .navbar {
    margin-top: 15px;
    }

    .container article blockquote {
        margin-left: 0;
        margin-right: 0;
    }

    @media (max-width:600px) {
      .container .intro h1 {
        font-size:35px;
    }

    .container article {
    font-size: 18px;
}

    .container .navbar .hire_me {
        float: none;
        margin: 0;
        text-align: left;
        padding: 0;
        background: none;
        color: red;
    }

    .container #mc_embed_signup #mce-EMAIL, .container #mc_embed_signup #mc-embedded-subscribe {
      width: 100%;


    }
