#topbar {
  background: #4f4a41;
  padding: 10px 0 10px 0;
  text-align: center;
  height: 36px;
  overflow: hidden;
}
#topbar a {
  color: #fff;
  font-size:1.3em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
}
#topbar a:hover {
  opacity: 1;
}

/** page structure **/
#w {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 2px;
  background: #f4f4f4;
}

#w h3 {
  margin-bottom: 10px;
}
#content-sub {
  display: block;
  background: #fff;
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}



/** Custom Styles **/
#notification_container {
  display: block;
  margin: 0 auto;
  padding-top: 25px;
}

#notification_container .alert {
  display: block;
  width: 100%;
  padding: 11px 20px;
  border: 1px solid #cfc07e;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #515151;
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
  background-color: #e3cb77;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e3cb77), to(#f4e4a8));
  background-image: -webkit-linear-gradient(top, #e3cb77, #f4e4a8);
  background-image: -moz-linear-gradient(top, #e3cb77, #f4e4a8);
  background-image: -ms-linear-gradient(top, #e3cb77, #f4e4a8);
  background-image: -o-linear-gradient(top, #e3cb77, #f4e4a8);
  background-image: linear-gradient(top, #e3cb77, #f4e4a8);
}

#notification_container .success {
  display: block;
  width: 100%;
  padding: 11px 20px;
  border: 1px solid #78aa5f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #515151;
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  background-color: #9ac784;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9ac784), to(#aed39c));
  background-image: -webkit-linear-gradient(top, #9ac784, #aed39c);
  background-image: -moz-linear-gradient(top, #9ac784, #aed39c);
  background-image: -ms-linear-gradient(top, #9ac784, #aed39c);
  background-image: -o-linear-gradient(top, #9ac784, #aed39c);
  background-image: linear-gradient(top, #9ac784, #aed39c);
}

/** MailChimp Styles **/
#mc_embed_signup{ background: #fff; clear: left; font: 14px Helvetica, Arial, sans-serif; text-align: center; margin: 0 auto; }

/* MailChimp Form Embed Code - Slim - 08/17/2011 */
#mc_embed_signup {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: block;
  position: relative;
  text-align: center;
  padding: 10px 0 10px;
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%;
  color: white;
}

.mc-field-group {
  display: inline-block;
  width: 50%;
}
#mc_embed_signup h2 {padding: 0; margin: 15px 0; font-size: 1.4em; }

#mc_embed_signup input { border: 1px solid #ababab; -webkit-appearance: none; }
#mc_embed_signup input[type=checkbox]{ -webkit-appearance: checkbox; }
#mc_embed_signup input[type=radio]{ -webkit-appearance: radio; }
#mc_embed_signup input:focus {  }

#mc_embed_signup .button {
  display: inline-block;
  height: 35px;
  width: 25%;
  border: 1px solid white;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  color: rgb(0, 0, 0);
  padding: 0px;
  margin: 0px auto;
  position: relative;
  font: 14px Helvetica,Arial,sans-serif;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  cursor: pointer;
}
#mc_embed_signup .button:hover {  }
#mc_embed_signup .button:active { top: 2px; border-bottom-width: 1px; }

#mc_embed_signup .small-meta { font-size: 11px; }

#mc_embed_signup .nowrap { white-space: nowrap; }
#mc_embed_signup .clear { clear: none; display: inline; }

#mc_embed_signup label { display: block; font-size: 13px; text-transform: uppercase; padding-bottom: 7px; color: #616161; font-weight: bold; }
#mc_embed_signup input.email {
  display: inline-block;
  width: 100%;
  color:white;
  background: transparent none repeat scroll 0% 0%;
  border-top: medium none;
  border-right: medium none;
  border-left: medium none;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  border-bottom: 1px dotted white !important;
  padding: 8px 0px 6px;
  margin: 0px 4% 10px 0px;
  font-size: 1em;
  text-align: left;
}
#mc_embed_signup input.email:focus {
}

#mc_embed_signup div#mce-responses { float: left; top: -1.4em; padding: 0em .5em 0em .5em; overflow: hidden; width: 90%; margin: 0 5%; clear: both; }
#mc_embed_signup div.response { margin: 1em 0; padding: 1em .5em .5em 0; font-weight: bold; float: left; top: -1.5em; z-index: 1; width: 80%; }

#mc_embed_signup #mce-error-response { display: none; }
#mc_embed_signup #mce-success-response { color: #529214; display: none; }
#mc_embed_signup label.error {display: block; float: none; width: auto; margin-left: 1.05em; text-align: left; padding: .5em 0; }


/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }

html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
