---
layout: default
---
                 
    
<main id="main" class="site-main" role="main">

<header id="site-head" class="indexhead" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-35">
<div class="header-overlay">
<div class="navbar-bg"></div>
<div class="cf"></div>
<div id="title">
		<h1>Macleod Sawyer</h1>
	</div>
</div>
</header>
</div>
{% include navbar.html %}
<div class="container" id="content">
            
          {% for post in site.posts %}
            <ul class="recent-posts">
                <li>
                    <a href="{{ site.baseurl }}{{ post.url }}">
                      <div>
                        <span class="title">{{ post.title }}</span>
                        <span class="date">{{ post.date | date: "%B %e, %Y" }}</span>
                      </div>
                    </a>
                  </li>
                            
          {% endfor %}
            
</div>