---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,b
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

::selection {
  background: #F3BC15;
}

body,html {
	width:100%;
	height:100%;
	line-height: 1.6;
	margin-bottom: 30px;
    font-size: 20px;
	font-family: "Lato", sans-serif !important;
}

body {
      overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


a{  border-bottom: 1px solid #F3BC15;
  box-shadow: 0px -2px 0px #F3BC15 inset;
  text-decoration: none;
  color:inherit;  
  transition: all 0.2s;
  }
  
  a:hover {
	  background:rgba(243, 188, 21, 0.5);
	  border-bottom: 1px solid rgba(243, 188, 21, 0.5);
  box-shadow: 0px -2px 0px rgba(243, 188, 21, 0.5) inset;
  transition: all 0.2s;
  }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*Header*/
header {
	width:100%;
	background: #474747 no-repeat center;
	background-size:cover;
	background-attachment:fixed;
	margin-bottom:15px;
}

.menu-fixed {
    position: fixed;
}

.sidebar-toggle {
    font-size: 32px;
    color:white;
	text-shadow:0 1px 5px rgba(0,0,0,.2);
    cursor: pointer;
    display:none;
}


.logo {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    font-size: 35px;
    padding-left: 10px;
    color: #F3BC15;
    width: 100%;
    background: #FFF none repeat scroll 0% 0%;
    top: 0px;
    left: 0px;
    z-index: 99999;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.logo a {
    border-bottom: none;
    box-shadow: none;
}

.logo a:hover {
    background:none;
    border-bottom: none;
    box-shadow: none;
    
}

.share-btn {
    position:fixed;
    right:10px; 
    bottom:5px;
    z-index: 99999;
}


.fb_iframe_widget {
  display: inline-block;
  position: relative;
  line-height: 15px;
}


#blog-title{
	color:#fff;
	text-decoration:none;
	font-size:32px;
	font-weight:700;
    
	text-shadow:0 1px 5px rgba(0,0,0,.2);
	font-family: 'Lato', sans-serif !important;
    display: inline;
}

#blog-title a {
    color:#fff;
	text-decoration:none;  
}


.header-nav-title {
      display: inline;
    float:left;
      padding-left: 15px;
    padding-top: 14px;
}

.header-nav {
  display: inline;
  float: right;
  margin-right: 15px;
  margin-top: 15px;
  padding-top: 10px;
    font-size: 16px;
}

.header-nav a{
  color: #fff;
  padding: 12px;
  letter-spacing: 2px;
  font-weight: 400;
  text-decoration: none;
  margin-left: 15px;
  font-family: 'Lato', sans-serif !important;
}


.header-nav ul { padding:0; margin:0; list-style:none; border:0; float:left;}
.header-nav ul li { float:left; margin:0; padding:0; border:0;}

.header-nav a:hover{
	color: #ddd;
    transform: all .03s;
}

.subscribe-nav {
	  border: 1px solid #fff;
  	  transition: all 0.1s;
}

.subscribe-nav:hover {
	background: rgba(0,0,0,0.1);
	border: 1px solid #ddd !important;
	transition: all 0.1s;
}

#title{
  position: relative;
  display: block;
  z-index: 9;
  width: 100%;
  padding: 6.5% 2%;
  text-align: center;
  text-shadow: 0 1px 5px rgba(0,0,0,.2);
}

.ads {
  width: 98.5%;
}

.ads-banner {
    text-align: center;
    background: rgb(244, 244, 244) none repeat scroll 0% 0%;
}

header h1{
	display: inline-block;
	font-weight: 100;
	font-size: 40px;
	padding: 0px 20px;
	letter-spacing: 2px;
	color: #FFF;
}

header h2{
	font-size:20px;
	letter-spacing:2px;
	font-style: italic;
	font-weight:100;
    color:white;
}
.header-overlay {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    z-index: 9999999;
    margin: 0;
}

#post-header #title{

}

/*Content*/
.container{
  max-width: 800px;
  margin: 0 auto;
}



#content{
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: -70px;
	  line-height: 1.8;
}

.menu {
    text-align: center;
	margin-bottom: 50px;
}

.menu ul {
    padding-left: 0px;
	margin-bottom: 20px;
}

.menu ul li {
    display: inline;
    margin: 0px 7px;
}

.menu ul a {
    text-decoration: none;
    padding: 5px 7px;
	color:#F3BC15;
	border-bottom: none;
 	box-shadow: none;	
}

.menu ul a:hover {
	background:none;
	color: #daa912;	
}

article{
	color:#555;
    margin-top: -25px;
} 

articlePost {
  	margin-top: -90px;
}
article h1{
	display:block;
	color:#333;
	font-size:36px;
	font-weight:400;
	text-decoration:none;
	line-height:48px;
	margin-bottom: 30px;
	font-family: 'Lato', sans-serif !important;
}

.indexH1 {
}

article h1 a{
	color:#333;
	font-size:36px;
	font-weight:400;
	text-decoration:none;
	line-height:48px;
	font-family: 'Lato', sans-serif !important;
}

article h1 a:hover{color:#00D9D9;}

.meta{
	text-transform:uppercase;
	line-height:1.1;
	letter-spacing:2px;
	font-size:15px;
	display:block;
	padding-bottom:15px;
	font-weight:300;
	color:#999;
	font-style: italic;
	margin-top:-15px;
	font-family: 'Lato', sans-serif !important;
}

article h2{
	font-weight:100;
	line-height:1.4;
	font-size:27px;
	color:#777;
	font-style: italic;
	padding-bottom:40px;
	font-family: 'Lato', sans-serif !important;
}

article h3{
	font-weight:600;
	line-height:1.5;
	letter-spacing:1px;
	font-size:24px;
	margin-bottom:30px;
	color:#333;
	font-family: 'Lato', sans-serif !important;
}

article h4{
	font-weight:400;
	line-height:1.5;
	letter-spacing:1px;
	font-size:19px;
	margin-bottom:30px;
	color:#999;
	font-family: 'Lato', sans-serif !important;
}

article h5{
	font-weight:600;
	line-height:1.5;
	letter-spacing:1px;
	font-size:16px;
	margin-bottom:15px;
	color:#333;
	font-family: 'Lato', sans-serif !important;
}

article h6{
	font-weight:400;
	line-height:1.5;
	letter-spacing:1px;
	font-size:16px;
	margin-bottom:30px;
	color:#999;
	font-family: 'Lato', sans-serif !important;
}

article p{
	color:#555;
	margin-bottom:30px;
}

.summary{
	color:#777;
	font-weight:100;
	font-style: italic !important;
}

article img{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

article p strong{
	color:#333;
	font-weight:600;
}

strong {
      font-weight: 900 !important;
}

article p em{
	font-style: italic;
}

article ul{
	list-style:disc;
	margin-left:20px;
	margin-bottom:30px;
}

article ul ul{list-style:circle;margin-bottom:0;}

article ol{
	list-style:decimal-leading-zero;
	margin-left:30px;
	margin-bottom:30px;
}

article blockquote{
  line-height: 1.6;
  letter-spacing: 1px;
  font-size: 28px !important;
  padding: 30px 0 40px 0;
  color: #555;
  font-weight: 100;
  font-style: italic;
  max-width: 900px;
  margin-left: -50px; 
    margin-right: -50px;
  text-align: center;
}

article pre, article code{
	margin-bottom:30px;
	font-size:16px;
}

article pre{
	border-radius:5px;
	box-shadow:0 1px 5px #eee;
	padding:15px !important;
}

article pre *{
	font-family: 'Lato', sans-serif !important;
}

hr{
    border: 0px none;
    height: 2px;
    width: 15%;
	border-bottom: 1px solid #F3BC15;
	box-shadow: 0px -2px 0px #F3BC15 inset;
}


.pagination{
	text-align:center;
	width:100%;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:400;
	text-decoration:none;
	border:1px solid transparent;
	color:#888;
  	margin-bottom: 50px;
}

.pagination span{
	font-family: 'Lato', sans-serif !important;
}

.pagination a{
	color:#888;
	margin:0;
	font-size:12px;
	font-family: 'Lato', sans-serif !important;
	text-decoration:none;
	padding-left:15px;
	padding-right:15px;
}

.pagination a.older-posts{
	margin-left:15px;
	margin-right:-15px;
}

.pagination a.newer-posts{
	margin-right:15px;
	margin-left:-15px;
}

img[alt="main-image"]{display:none;}

/*Footer*/

.border-dash {
  width: 15%;
  height: 2px;
  background: #007aff;
  margin-left: 44%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 25%;
}

.footer{
  font-size: 16px;
  text-align: center;
  margin: 50px;
}

#social-links{
	float:left;
	margin-left:30px;
}

#social-links a{
	display:inline-block;
	margin-right:20px;
	text-transform:uppercase;
	text-decoration:none;
	font-size:12px;
	letter-spacing:1px;
	color:#999;
	font-family: 'Lato', sans-serif !important;
}

#social-links a:hover{
	text-decoration:underline;
	color:#28c0b7;
}

#rights{
	float:right;
	margin-right:30px;
	text-transform:uppercase;
	font-size:12px;
	letter-spacing:1px;
	color:#999;
	font-family: 'Lato', sans-serif !important;
}

.nav-fixed {
    position: fixed;
    top:0;
    left:5px;
}

.bottom-bar {
  position: fixed;
  width: 100%;
  background: #fff;
  border-top: 1px solid rgba(0,0,0,0.2);
  bottom: 0;
  left: 0;
  height: 40px;

}

.safety {
    padding:15px;
    border:1px solid black;
    color:#000;
    font-size:25px;
    background:white;
    text-decoration:none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin:25px;
}

.ion-navicon-round {
	  margin-left: -15px;
}

.code-block {
text-align: center;
margin: 0px auto;
padding: 30px 0;
background: rgb(244, 244, 244) none repeat scroll 0% 0%;
margin-bottom: 30px !important;
}


// Index

.recent-posts {
    margin-bottom: 5rem;
    padding-left: 0px;
}
.recent-posts li {
  margin-bottom: 20px;
  list-style-type: none;
}

.recent-posts a {
text-decoration: none;
color: #555;
}



.recent-posts li .title {
padding: 0px;
  text-decoration: none;
  color: #555;
  font-size: 22px;
}

.recent-posts li .date {
    float: right;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);
}

.recent-posts li div {
    padding: 5px 0px;
}


.recent-posts .date {
    font-family: "Avenir Next LT W01 Bold","Avenir Next",sans-serif;
    font-weight: normal;
    font-size: 13px;
}
.recent-posts .date {
    float: left;
    margin-top: 7px;
    margin-bottom: 25px;
    margin-left: -190px;
    width: 150px;
    text-align: right;
    text-transform: uppercase;
    color: #FD7F05;
}


@media (max-width:900px) {
    article blockquote {
        margin-left: 0;
        margin-right: 0;
    }
    
    #title { 
          width: 100%;
        
    }
        
}

@media (max-width:742px) {
    .header-nav {
        display:none;
 }
    article {
  font-size: 16px;
    }
    
    #blog-title {
  text-align: center;
  width: 100%;
  display: inline;
    }
}
    


    
@media (max-width:555px) {
.share-btn {
    position: fixed;
    z-index: 99999;
    width: 100%;
    background: white;
    bottom: 0px;
      top: inherit;
  right: inherit;
    margin: 0 auto;
    padding-top: 4px;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.05);
}
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
