<div class="footer">
 &copy; Macleod Sawyer - All posts free for reproduction <strong>only</strong> with credit back to the original source. <br>
 Site design by Macleod Sawyer <br><br>

 Like this website? <a href="/hire-me">Hire me!</a>
</div>

<script>
  $("body").floatingSocialShare({
    place: "top-left", // alternatively top-right
    counter: true, // set to false for hiding the counters of pinterest, facebook, twitter, linkedin and google-plus
    buttons: ["facebook","twitter","google-plus","linkedin","envelope"], // all of the currently avalaible social buttons
    title: "{{ page.title }}", // your title, default is current page's title
    url: window.location.href,  // your url, default is current page's url
    text: "Share with ", // the title of a tags
  });
</script>
