---
layout: default
---

{% include header.html %}

<div class="container" id="content" role="main">
<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">

<article class="post">
	<div class="post-meta">
		<h1>{{ page.title }}</h1>
		{% if page.date %}
    <!-- Responsiver banner -->
    <ins class="adsbygoogle"
         style="display:block;margin: 10px 0px;"
         data-ad-client="ca-pub-7004039348107787"
         data-ad-slot="9147249750"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
		{% endif %}

	</div>
    {{ content }}
    <center>
    Share this post with your friends:<br>

    <a class="social-share social-twitter" data-via="mxsawyer" data-related="mxsawyer" onclick="window.open('https://twitter.com/intent/tweet?text={{ page.title }}%20http://macleodsawyer.com{{ page.url }}%20by%20@mxsawyer', 'newwindow', 'width=500, height=500');">Share on Twitter</a>

    <a class="social-share social-facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://macleodsawyer.com{{ page.url }}', 'newwindow', 'width=500, height=500');"> Share on Facebook</a>
   </center>

   <div class="post-meta">
   <h2>Published on {{ page.date | date: '%B %d, %Y' }}</h2>


 </div>
  </div>

  {% include disqus.html %}

  <div class="container" id="content">
  <p class="more_posts">MORE POSTS</p>
          {% for post in site.posts %}
            <ul class="recent-posts">
                <li>
                    <a href="{{ site.baseurl }}{{ post.url }}">
                      <div>
                        <span class="title">{{ post.title }}</span>
                        <span class="date">{{ post.date | date: "%B %e" }}</span>
                      </div>
                    </a>
                  </li>

          {% endfor %}

</div>
</article>
