---
layout: default
---

{% if page.image contains 'https://' | escape or page.image contains 'http://' | escape %}
<header id="site-head" style="background: url({{ page.image }}) repeat scroll 0px -25px / cover !important;" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-35">
{% else  %}
<header id="site-head" style="background: url(/images/featured/{{ page.image }}) repeat scroll 0px -25px / cover !important;" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-35">
{% endif %}

<div class="header-overlay">
<div class="navbar-bg"></div>
<div class="cf"></div>
<div class="logo"><a href="/">{{ site.name }} </a> </div>
<div id="title">
		<h1>{{ page.title }}</h1>
        <h2>{{ page.date | date: '%B %d, %Y' }}</h2>
	</div>
</div>
</header>
{% include navbar.html %}
<div class="container" id="content" role="main">
<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">
		
<article class="post">
    {{ content }}
    <center>
    Share this post with your friends:<br> 

    <a class="social-share social-twitter" data-via="mxsawyer" data-related="mxsawyer" onclick="window.open('https://twitter.com/intent/tweet?text={{ page.title }}%20http://macleodsawyer.com{{ page.url }}%20by%20@mxsawyer', 'newwindow', 'width=500, height=500');">Share on Twitter</a>

    <a class="social-share social-facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://macleodsawyer.com{{ page.url }}', 'newwindow', 'width=500, height=500');"> Share on Facebook</a>
   </center>
  </div>

  {% include disqus.html %}

  <div class="container" id="content">
  <p class="more_posts">MORE POSTS</p>
          {% for post in site.posts %}
            <ul class="recent-posts">
                <li>
                    <a href="{{ site.baseurl }}{{ post.url }}">
                      <div>
                        <span class="title">{{ post.title }}</span>
                        <span class="date">{{ post.date | date: "%B %e" }}</span>
                      </div>
                    </a>
                  </li>
                            
          {% endfor %}
            
</div>
</article>

